body {
    font-family: "Roboto", "Verdana", serif;
    color: #FAFAFA;
    background-color: #c7ced8;
    padding: 20px
}

td {
    text-align: center;
    border-color: black;
    border-spacing: 0;
}

thead {
    background: black;
}

tbody {
    background: black;
}

tfoot {
    background: black;
}

tbody tr:nth-child(2n) {
    background: white;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    text-align: center;
    padding: 50px;
}
table {
    table-layout: fixed;
    width: 100%
}